.ViewClientModal {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.ViewClientModal > .box {
    position: relative;
    background-color: #212529;
    width: 400px;
    height: 550px;
    padding: 10px 20px 0px 20px;
    border-radius: 10px;
}

.ViewClientModal .closeButton {
    position: absolute;
    right: 0;
    top: 0;
    translate: 5px -5px;

    display: flex;
    width: 25px;
    height: 25px;
    background-color: #41464a;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.ViewClientModal .closeButton:hover {
    cursor: pointer;
    background-color: red;
}