.Header > .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.button-container {
    display: flex;
    height: 100%;
    align-items: end;
}

@media screen and (max-width: 600px) {
    .Header > .container {
        flex-direction: column;
        justify-content: center;
    }

    .Header button {
        width: 100vw;
    }
}